@charset "UTF-8";

.calculator {
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding-bottom: 30px;
}

.calculator-screen {
  width: 100%;
  height: 100px;
  border: none;
  background: black;
  color: white;
  font-size: 42px;
  text-align: right;
  padding-right: 15px;
  border-radius: 10px;
  font-family: Garamond;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid black;
  background: white;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 30px;
  font-family: Garamond;
}

.all-clear {
  background: red;
  color: white;
}
